# fly.toml app configuration file generated for whenwx-api on 2026-01-29T12:26:10-05:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'whenwx-api'
primary_region = 'iad'

[build]
  dockerfile = 'Dockerfile'

[env]
  CORS_ORIGINS = '*'
  DEMO_MODE = 'true'
  RATE_LIMIT = '1/minute'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [http_service.concurrency]
    type = 'requests'
    hard_limit = 250
    soft_limit = 200

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
